<h1>Distributor Распространитель</h1>
<p>Тот, кто может размещать на своем сайте виджет с рекламным блоком</p>
<ul>
	<li>
		просматривать список рекламных блоков, созданных рекламодателями
	</li>	
	<li>
		оставлять заявку на доступ к виджету рекламного блока
	</li>
	<li>
		получать от рекламодателя виджет с рекламным блоком
	</li>
</ul>	