<h1>Banner Рекламный блок</h1>
<p>Рекламный блок сейчас это текст. Его создает рекламодатель, он может менять текст и удалить блок. У блока есть виджет, который рекламодатель может выдать распространителю. Виджет содержит код, который встраивается на сайт распространителя и обращается к сайту рекламодетелей, забирает и показывает рекламный блок рекламодетеля</p>
<ul>
	<% @banners.each do |banner| %>
	<li>
		<a href="<%= banner_path(banner)%>">
		<%= banner.title %>
		</a>
	</li>
	<% end %>
</ul>	

