<h1>Advertiser Рекламодатель</h1>
<p>Тот, кто размещает рекламный блок</p>
<ul>
	<li>
		создавать новый рекламный блок
	</li>
	<li>
		удалять старые рекламный блок
	</li>
	<li>
		изменять текст старого рекламного блока
	</li>
	<li>
		принимать заявки от распространителей на размещение рекламного блока и давать разрешение на размещение
	</li>		
</ul>
